/* MARK: Reset 
*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/*MARK: Variables 
*/
:root{
    --gray:rgba(19, 21, 23, 0.36);
}

body{
    font-family: "inter",sans-serif;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(230, 110, 110) 0%, rgb(8, 177, 250) 90%);
}
/* MARK: General 
*/
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
header .luma-icon{
    height: 20px;
    color: var(--gray);
    cursor: pointer;
}
.luma-icon:hover{
    color: black;
}
.luma-icon-ft{
    height: 15px;
    color: var(--gray);
}
.luma-icon-mn{
    height: 50px;
    color: var(--gray);
}
/*MARK: Header 
*/
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
header nav {
    display: flex;
    gap: 15px;
}
/* MARK: main 
*/
main{
    display: flex;
}
.left{
    width: 40%;
}
.right {
    width: 60%;
}
.right video{
    width: 100%;
}
/*MARK: footer 
*/
.primary {
    display: flex;
    justify-content: space-between;
}
.secondary{
    margin-bottom: 20px;
}

